html, body {
  height: 100%;
}
.sidebar {
  float: left;
  width: 19%;
  height: 100%;
}
.main-content-area {
  float: right;
  width: 80%;
  height: 100%;
}
#map {
  width: 100%;
  height: 100%;
  background: #000;
}